<%= provide :title, t(".title") %>
<div class="ct-pageWrapper" id="ct-js-wrapper">
  <section class="company-heading intro-type">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1><%= t ".header" %></h1>
        </div>
      </div>
    </div>
    <div class="parallax">
    </div>
  </section>
  <section class="company-sections" id="section">
    <div class="container">
      <h2><%= t ".header-h2-1" %></h2>
      <h3><%= t ".header-h3-1" %></h3>
      <div class="col-md-8 col-md-offset-2">
        <p><%= t ".content-1" %></p>
      </div>
    </div>
  </section>
  <div class="red-border">
    &nbsp;
  </div>
  <section class="company-sections">
    <div class="container">
      <div class="col-md-8 col-md-offset-2">
        <h2><%= t ".header-h2-2" %></h2>
        <h3><%= t ".header-h3-2" %></h3>
        <p><%= t ".content-2" %></p>
      </div>
    </div>
  </section>
</div>
